@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

#logo {
    margin: 1em auto;
}

#wordmark
{
    background: url(./images/wordmark.svg) no-repeat center center;
    width: 406px;
    background-size: contain;
    height: 0;
    overflow: hidden;
    padding-top: 87px;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    #wordmark
    {
        width: 271px;
        padding-top: 58px;
    }

    .display-4 {
        font-size: 2rem;
        margin: 1em 0.25em;
    }
}

html, body
{
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    height: 100vh;
    display: block;
    background: #195eae;
}

.navbar, footer {
   background: #19314d;
}

.hero
{
    overflow: hidden;
    margin: 0;
    background: none;
    color: #fff;
}

.signup
{
    margin-top: 10pt;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.12), 0 2px 3px 3px rgba(0, 0, 0, 0.20);
    background: rgba(255,255,255,0.1);
}

#a-v
{
    background: #6c757d
}

h1, h2, h3 {
    color: #fff;
}

.conclusion
{
    padding: 2em 0;
}

.conclusion h3 {
    margin: 2.5em 1em;
}

footer {
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 1em 0;
    color: #fff;
}
