@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

#logo {
    margin: 1em auto;
}

#wordmark
{
    background: url(./images/wordmark.svg) no-repeat center center;
    width: 406px;
    height: 0;
    overflow: hidden;
    padding-top: 87px;
    display: block;
    margin: 0 auto;
}

html, body
{
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    height: 100vh;
    display: block;
    background: #326095;
}

.hero
{
    overflow: hidden;
    margin: 0;
    background: none;
}

#a-v
{
    background: #6c757d
}

h1, h2, h3 {
    color: #fff;
}

.conclusion
{
    padding: 2em 0;
}

footer {
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 1em 0;
    color: #fff;
    background: #000;
    opacity: 0.5;
}
